.main {
  padding-right: 60px;
  padding-left: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1;
  min-height: calc(100vh - 164px);
  background-image: url('../../plane2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  
}